.banner {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	margin-bottom: 70px;
	@include filter;

	&::before {
		@include radial-gradient;
	}

	&::after {
		@include bg-shadow;
	}

	&__body {
		display: grid;
		position: relative;
		z-index: 10;
		padding-top: 18%;

		&--title {
			font-family: 'Poppins', sans-serif;
			width: 65%;
			// font-size: 3.37vmax;
			font-size: 3.25rem;
			line-height: 1.25;
		}

		&--desc {
			width: 42%;
			margin-top: 15px;
			line-height: 2;
			text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.14);

			// clamps text to max 3 lines
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			-moz-line-clamp: 3;
			-moz-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&--rating {
			font-size: 1.2rem;
			margin-bottom: 8px;

			.star {
				font-size: 1rem;
				margin-right: 7px;
				transform: translateY(-2px);
			}
		}

		&--btns {
			display: flex;
			gap: 20px;
			margin-top: 35px;
		}
	}
}
