@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--clr-red: #e60a15;
	--clr-primary-1000: hsl(252, 5%, 5%);
	--clr-primary-900: hsl(252, 11%, 9%);
	--clr-primary-800: #1e1d22;
	--clr-primary-500: hsl(248, 4%, 45%);
	--clr-primary-400: hsl(248, 4%, 55%);
	--clr-primary-600: #292830;
	--clr-yellow: #ffb70c;
	--clr-download: hsl(102, 49%, 51%);
	--clr-download-icon: #428e21;
	--clr-tooltip: #081c22;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.125rem; // 18px
	color: #fff;
	background-color: var(--clr-primary-900);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	all: unset;
}

input,
button {
	font-family: inherit;
}

input,
select,
textarea {
	padding: 15px 20px;
	border-radius: $border-radius-sm;
	background-color: var(--clr-primary-800);
	outline: 0;
	border: 0;
	color: var(--clr-primary-400);

	font-size: 1rem;
	font-family: inherit;
}

select,
button,
a {
	cursor: pointer;
}

select {
	appearance: none;
	background: url(../img/select-arrows.svg) no-repeat 90% 50% var(--clr-primary-800);
}

.play-movie-btn,
.play-movie-anim,
.similar-movies--item:hover::after,
.similar-movies--item::after,
.navbar-wrapper,
.navbar-links,
.movie__card--img,
.movie__card--img::after,
.movie__card--hover,
.watch-trailer,
button,
img,
ul,
li,
i,
a {
	transition: 700ms cubic-bezier(0.17, 0.85, 0.438, 0.99);
}

i.star {
	color: var(--clr-yellow);
}

.btn {
	font-size: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-lg {
	padding: 8px 40px;
}

.btn-sm {
	padding: 5px 30px;
}

.watch-btn {
	background-color: var(--clr-red);
	box-shadow: 0 10px 15px 0 rgb(229 9 20 / 20%);
}

.add-list-btn {
	background-color: #000;
}

.watch-btn,
.add-list-btn {
	transition-property: transform;

	&:hover,
	&:focus {
		@include hover-scale;
	}

	i {
		font-size: 0.87rem;
		margin-right: 12px;
	}
}

.no-pointer-events {
	cursor: not-allowed;
	pointer-events: none;
}

// override swiper styles so that slidesPerView='auto' works
.swiper-container {
	width: 100%;
}

.swiper-slide {
	width: auto;
}

// TODO: this rule doesn't work
.swiper-button-disabled {
	cursor: not-allowed !important;
	opacity: 0.3 !important;
}
