.movie-details {
	position: relative;

	&::after {
		@include radial-gradient;
	}

	&::before {
		@include bg-shadow;
	}

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.342);

		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}

	&--main {
		display: grid;
		grid-template-columns: max-content 70%;
		gap: 50px;
		padding-top: 15vh;
		position: relative;
		z-index: 9999;
	}

	&--img {
		display: flex;
		flex-direction: column;
		gap: 10px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: $card-shadow;

		img {
			border: 4px solid #fff;
			max-width: 300px;
			height: 100%;
			object-fit: cover;
		}
	}

	&--title {
		font-family: 'Poppins', sans-serif;
		font-size: 2.35rem;
	}

	&--genre-date {
		display: flex;
		gap: 20px;
		font-size: 1rem;
		margin-top: 5px;

		li:not(:last-child) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 40%;
				right: -12px;
				height: 5px;
				width: 5px;
				background-color: #fff;
				border-radius: 100%;
			}
		}
	}

	&--overview {
		margin-top: 50px;

		.overview {
			width: 80%;
			font-size: 1rem;
			line-height: 1.85;
		}
	}
}

.watch-trailer {
	all: unset;
	padding: 6px 20px;
	border-radius: 4px;
	background-color: var(--clr-red);
	font-size: 1rem;
	letter-spacing: 1px;

	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	transition-property: transform;

	&:hover {
		transform: scale(0.97);
	}

	i {
		margin-right: 10px;
		font-size: 0.95rem;
	}
}
