@mixin radial-gradient {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.897) 100%);
}

@mixin bg-shadow {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.521);
}

@mixin filter {
	filter: contrast(105%) saturate(130%);
}

@mixin center {
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 9999;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: rgba(0, 0, 0, 0.685);
		pointer-events: none;

		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

@mixin swiper-nav-btn-shadow($height, $width, $gradient-angle) {
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		height: $height;
		width: $width;
		background-image: linear-gradient($gradient-angle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8606793059020483) 58%);
	}
}

@mixin hover-scale($scale: 0.97) {
	transform: scale($scale);
}

// MEDIA QUERIES

@mixin xl-screens {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin lg-screens {
	@media (max-width: 992px) {
		@content;
	}
}

@mixin md-screens {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin sm-screens {
	@media (max-width: 576px) {
		@content;
	}
}

@mixin xs-screens {
	@media (max-width: 415px) {
		@content;
	}
}
