.section {
	position: relative;

	&__movies {
		display: flex;
		// gap: 32px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
	}

	&__title {
		position: relative;
		transform: translateX(20px);
		margin-bottom: 50px;

		&::before {
			content: '';
			position: absolute;
			height: 25px;
			width: 8px;
			bottom: 10px;
			border-radius: 100px;
			left: -20px;
			background-color: var(--clr-red);
		}
	}
}

.sort {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 50px;
	font-size: 1rem;

	.sort-by {
		display: flex;
		gap: 15px;
		align-items: center;

		li {
			padding: 6px 40px;
			background-color: var(--clr-primary-800);
			border-radius: 100px;
			cursor: pointer;
		}

		.selected {
			background-color: var(--clr-red);
		}
	}
}

.swiper-nav {
	display: flex;
	gap: 8px;
	transform: translateY(10px);

	.swiper-nav-prev,
	.swiper-nav-next {
		font-size: 1rem;
		display: grid;
		place-items: center;
		height: 40px;
		width: 40px;
		background-color: var(--clr-primary-800);
		border-radius: 50%;
		cursor: pointer;
	}
}
