.movie__details {
	position: relative;

	&::after {
		@include radial-gradient;
	}

	&::before {
		@include bg-shadow;
	}

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.342);

		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}

	&--main {
		display: grid;
		grid-template-columns: max-content 70%;
		gap: 50px;
		padding-top: 20vh;
		position: relative;
		z-index: 9999;

		@include lg-screens {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 50px;
			text-align: center;
		}
	}

	&--lang {
		position: relative;
		bottom: 5px;
		margin-left: 10px;
		font-size: 0.7rem;
		font-weight: normal;
		font-family: 'Roboto', sans-serif;

		text-transform: uppercase;
		padding: 2px;
		border: 1px solid var(--clr-primary-500);
		color: var(--clr-primary-500);
		border-radius: 2px;

		&:hover,
		&:focus {
			&::after {
				opacity: 1;
			}
		}

		&::after {
			content: attr(tooltip);
			position: absolute;
			bottom: -190%;
			left: 0;
			padding: 5px 12px;
			background-color: var(--clr-primary-900);
			color: #fff;
			font-size: 0.9rem;
			opacity: 0;
			pointer-events: none;
			text-transform: capitalize;
		}
	}

	&--img {
		display: flex;
		flex-direction: column;
		gap: 10px;
		height: max-content;
		border-radius: 4px;
		overflow: hidden;

		@include lg-screens {
			width: max-content;
		}

		img {
			border: 4px solid #fff;
			max-width: 300px;
			max-height: 430px;
			object-fit: cover;
			box-shadow: $card-shadow;
			@include filter;
		}
	}

	&--title {
		font-family: 'Poppins', sans-serif;
		font-size: 2.38rem;
	}

	&--genre-date {
		display: flex;
		gap: 20px;
		font-size: 1rem;
		margin-top: 5px;

		@include lg-screens {
			justify-content: center;
		}

		@include xs-screens {
			flex-direction: column;
		}

		li:not(:last-child) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 40%;
				right: -12px;
				height: 5px;
				width: 5px;
				background-color: #fff;
				border-radius: 100%;

				@include xs-screens {
					top: 34px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	&--overview {
		margin-top: 30px;

		.overview {
			width: 80%;
			font-size: 1rem;
			line-height: 1.85;

			@include lg-screens {
				width: 100%;
			}
		}
	}

	.tagline {
		font-style: italic;
		font-size: 1rem;
		margin-top: 15px;
		color: rgba(255, 255, 255, 0.418);
	}

	&--btns {
		display: flex;
		gap: 0px;
		align-items: center;
		margin-top: 40px;
		padding-bottom: 45px;

		@include lg-screens {
			justify-content: center;
		}

		@include xs-screens {
			flex-direction: column;
			gap: 30px;
		}
	}

	.popularity {
		display: flex;
		align-items: center;
		gap: 8px;

		&--rating {
			display: grid;
			place-items: center;
			height: 75px;
			width: 75px;
			font-family: 'Poppins', sans-serif;

			font-size: 1.45rem;
			background-color: #081c22;
			border-radius: 50%;
			color: rgb(255, 255, 255);
		}

		&--text {
			width: 40%;
			font-size: 1rem;
		}
	}

	&--bottom {
		display: flex;
		flex-direction: row;
		// gap: 50px;
		margin-top: 35px;

		@media (max-width: 1295px) {
			flex-direction: column;
			gap: 30px;
		}

		> *:nth-child(1) {
			flex-basis: 65%;
		}

		.section__title {
			margin-bottom: 30px;
			margin-top: 35px;

			@include xs-screens {
				text-align: center;
			}
		}
	}

	.btn {
		padding: 6px 20px;
		// margin-bottom: 50px;
		border-radius: 4px;
		font-size: 1rem;

		color: #fff;
		cursor: pointer;
		text-transform: uppercase;
		text-align: center;
		transition-property: transform;

		@include lg-screens {
			margin-bottom: 0;
		}

		&:hover,
		&:focus {
			transform: scale(0.97);
		}

		i {
			margin-right: 10px;
			font-size: 0.95rem;
		}
	}
}

// CREW LIST

.crew__list--short {
	display: flex;
	// justify-content: space-between;
	gap: 150px;
	padding-bottom: 50px;

	@include lg-screens {
		justify-content: center;
		gap: 100px;
	}

	@include md-screens {
		gap: 50px;
	}

	.member-role {
		font-size: 1rem;
	}

	.member-name {
		font-size: 0.95rem;
		font-style: italic;
		margin-top: 2px;
	}
}

.actions {
	display: flex;
	gap: 25px;
	font-size: 0.7rem;

	li {
		position: relative;
		display: grid;
		place-items: center;
		height: 45px;
		width: 45px;
		background-color: var(--clr-tooltip);
		border-radius: 50%;
		cursor: pointer;

		&:hover,
		&:focus {
			&::after {
				opacity: 1;
			}
		}

		&::after {
			content: attr(tooltip);
			position: absolute;
			bottom: -90%;
			width: max-content;
			font-size: 0.95rem;

			background-color: inherit;
			padding: 4px 10px;
			opacity: 0;
		}
	}
}

.watch-trailer {
	background-color: var(--clr-red);
}

.download-torrent {
	color: var(--clr-download-icon);
	background-color: var(--clr-download);
	margin-bottom: 50px;
}

.no-download-torrent {
	background-color: var(--clr-download);
	margin-bottom: 50px;
	filter: grayscale(20%);
	cursor: not-allowed !important;

	&:hover,
	&:focus {
		transform: scale(1) !important;
	}
}

.watch-movie {
	background-color: (var(--clr-red));
}

// MAIN MOVIE POSTER
.movie-img {
	width: 160px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		&:hover,
		&:focus {
			@include hover-scale;
		}
	}
}

//VIDEO PLAYER
.movie-player {
	position: relative;
	height: 550px;
	max-height: 550px;

	iframe * {
		height: 100% !important;
	}
}

.mejs__container {
	height: 100% !important;
}
