a {
	color: #fff;
}

.card__grid {
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
	gap: 30px;

	&--title {
		position: relative;
		top: -8px;
		font-size: 1.85rem;
		margin-top: 0;
		width: max-content;
	}

	&--sort {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 10px 15px;

		border-radius: $border-radius;
		background-color: var(--clr-primary-800);
		color: var(--clr-primary-500);

		h4 {
			font-size: 1rem;
		}

		i {
			font-size: 0.85rem;
		}
	}
}

// SEARCH GRID
.search__grid {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 50px;
	background-color: var(--clr-primary-900);

	h2 {
		font-size: 1.5rem;
	}

	&--search-bar {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	&--search-input {
		flex-basis: 90%;
	}

	&--filter {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	.filter-title {
		margin: 5px 0 10px;
		font-size: 1rem;
		color: var(--clr-primary-500);
		font-weight: 500;
	}

	select {
		padding-left: 8px;
	}

	.search-btn {
		border-radius: $border-radius-sm;
		background-color: var(--clr-red);
		padding: 9px 25px;
		flex-basis: 10%;
		text-align: center;

		&:hover,
		&:focus {
			@include hover-scale;
		}
	}
}

// MOVIE LIST
.card__grid--list {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	gap: 30px;
	row-gap: 0;

	&-item {
		max-width: 200px;
		overflow: hidden;
	}
}

.card-img {
	box-shadow: $card-shadow;
	img {
		width: 100%;
		object-fit: contain;
	}
}
