a {
	color: #fff;
}

.card-grid {
	display: flex;
	margin-top: 30vh;
	gap: 30px;

	> :nth-child(1) {
		flex-basis: 25%;
	}

	> :nth-child(2) {
		flex-basis: 100%;
	}

	&--filter-panel {
		position: sticky;
		top: 300px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&--title {
		position: relative;
		top: -8px;
		font-size: 1.85rem;
		margin-top: 0;
		width: max-content;
	}

	&--sort {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;

		border-radius: $border-radius;
		background-color: var(--clr-primary-800);
		color: var(--clr-primary-500);
		cursor: pointer;

		h4 {
			font-size: 1rem;
		}

		i {
			font-size: 0.85rem;
		}
	}

	&--search-btn {
		padding: 10px 15px;
		font-size: 1.05rem;
		text-align: center;
		background-color: var(--clr-red);
		color: #fff;
		font-weight: 500;

		border-radius: $border-radius;
		text-transform: capitalize;
		cursor: pointer;

		&:hover,
		&:focus {
			@include hover-scale;
		}
	}
}

.card-grid--list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;

	&-item {
		max-width: 200px;
		border-radius: $border-radius;
		border: 1px solid var(--clr-primary-800);
		overflow: hidden;
		box-shadow: $card-shadow;
	}
}

.card-img {
	img {
		width: 100%;
		object-fit: contain;
	}
}

.card-body {
	position: relative;
	padding: 10px 20px;

	.card-title {
		font-size: 1.08rem;
		line-height: 1.45;
	}

	.card-date {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.92rem;
		margin-top: 7px;
		color: var(--clr-primary-500);
		padding-bottom: 10px;

		i {
			margin-left: auto;
			margin-right: 5px;
			font-size: 0.77rem;
			transform: translateY(-1.5px);
		}
	}

	.card-rating {
		color: var(--clr-yellow);
		font-weight: 500;
	}
}
