.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--clr-primary-800);
	padding: 50px 0 30px;
	margin-top: 70px;
	text-align: center;
	gap: 15px;

	.logo__footer {
		width: 250px;
		margin: 0 auto;

		img {
			width: 100%;
			margin-bottom: 5px;
		}
	}

	.copyright {
		font-size: 1rem;
		color: var(--clr-primary-500);
	}

	a {
		color: inherit;

		&:focus,
		&:hover {
			color: #fff;
		}
	}
}

.footer__links {
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;

	color: var(--clr-primary-500);
	font-size: 0.95rem;
	font-weight: 500;

	&--item:not(:last-child) {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			right: -15%;
			top: 50%;

			transform: translateY(-50%);
			border-radius: 50%;
			background-color: var(--clr-primary-500);
		}
	}
}

.user-agreement {
	font-size: 0.87rem;
	color: var(--clr-primary-500);

	a {
		font-size: 0.9rem;
		color: #fff;
	}
}

.api-notice {
	font-size: 0.8rem;
	border: 1px;
	padding: 2px 5px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.123);
	background-color: var(--clr-primary-900);
	color: var(--clr-primary-500);
	width: max-content;
	margin: auto;

	@media screen and (max-width: 690px) {
		width: auto;
	}
}
