.section {
	position: relative;

	&__movies {
		display: flex;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;

		@include xs-screens {
			gap: 0;
			flex-direction: column;
		}
	}

	&__title {
		position: relative;
		transform: translateX(20px);
		margin-bottom: 50px;

		@include xs-screens {
			transform: translateX(0);
			margin-bottom: 25px;
		}

		&::before {
			content: '';
			position: absolute;
			height: 25px;
			width: 8px;
			bottom: 10px;
			border-radius: 100px;
			left: -20px;
			background-color: var(--clr-red);

			@include xs-screens {
				display: none;
			}
		}
	}
}

.swiper-nav {
	display: flex;
	gap: 8px;
	transform: translateY(10px);

	.swiper-nav-prev,
	.swiper-nav-next {
		font-size: 1rem;
		display: grid;
		place-items: center;
		height: 40px;
		width: 40px;
		background-color: var(--clr-primary-800);
		border-radius: 50%;
		cursor: pointer;
	}
}
