.large__card {
	position: relative;
	padding: 90px 100px;
	width: 100%;
	min-height: 500px;
	margin-bottom: 50px;

	border-radius: 15px;
	background-color: #fff;
	box-shadow: $navbar-shadow;
	overflow: hidden;
	@include filter;

	@include lg-screens {
		padding: 90px 60px;
	}

	@include xs-screens {
		padding: 90px 25px;
	}

	&::before {
		@include radial-gradient;
	}

	&::after {
		@include bg-shadow;
	}

	&--body {
		position: relative;
		z-index: 10;
	}

	&--title {
		width: 70%;
		font-family: 'Poppins', sans-serif;
		font-size: 2.7rem;
		line-height: 1.3;

		@include xl-screens {
			width: 100%;
		}
	}

	.close-card {
		position: absolute;
		top: -24%;
		right: -5%;
		cursor: pointer;

		@include lg-screens {
			top: -15%;
			right: 0;
		}
	}

	.banner__body--desc {
		@include xl-screens {
			width: 100%;
		}
	}
}

.youtube-player {
	position: relative;
	z-index: 10;
	margin-top: 40px;
}

.no-trailer-error {
	position: relative;
	z-index: 10;
	text-align: center;
	margin-top: 40px;
	font-size: 2rem;
}
