.section {
	position: relative;

	&__movies {
		display: flex;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;

		@include xs-screens {
			gap: 0;
			flex-direction: column;
		}
	}

	&__title {
		position: relative;
		transform: translateX(20px);
		margin-bottom: 45px;

		@include xs-screens {
			transform: translateX(0);
			margin-bottom: 25px;
		}

		&::before {
			content: '';
			position: absolute;
			height: 25px;
			width: 8px;
			bottom: 10px;
			border-radius: 100px;
			left: -20px;
			background-color: var(--clr-red);

			@include xs-screens {
				display: none;
			}
		}
	}
}

.movie-row--loading {
	margin: 20px 0 70px;
}

.swipe-icon,
.swipe-msg {
	display: none;

	@include xs-screens {
		display: flex;
	}
}

.swipe-icon {
	width: 30px;
	margin-bottom: 5px;
}

.swipe-msg {
	font-size: 1rem;
	color: var(--clr-primary-500);
	margin-bottom: 10px;
}

.swiper-nav--movie-row {
	position: relative;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	transform: translateY(-295px);
	cursor: pointer;

	@include sm-screens {
		display: none;
	}

	> * {
		position: relative;
		display: grid;
		place-items: center;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #16151aa6;
		color: #fff;
		margin-bottom: -100px;

		&:focus,
		&:hover {
			// transform: scale(1.08);
			background-color: var(--clr-primary-800);
		}
	}

	.swiper-nav-left {
		margin-left: 10px;
		@include swiper-nav-btn-shadow($height: 690%, $width: 180px, $gradient-angle: -90deg);
	}
	.swiper-nav-right {
		margin-right: 10px;
		@include swiper-nav-btn-shadow($height: 690%, $width: 150px, $gradient-angle: 90deg);
	}
	.swiper-button-disabled {
		pointer-events: none;
	}
}
