// PHOTOS
.movie__details--bottom-gallery {
	.section__title {
		margin-bottom: 30px;
		margin-top: 40px;

		@include xs-screens {
			text-align: center;
		}
	}

	.movie-img {
		img {
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

.photos-title--wrapper {
	display: flex;
	gap: 40px;
	align-items: center;

	@include xs-screens {
		justify-content: center;
		gap: 20px;
	}

	.swiper-nav {
		display: flex;
		gap: 5px;
		cursor: pointer;
		margin-top: 25px;

		i {
			position: relative;
			top: -5px;
			height: 40px;
			width: 40px;
			display: grid;
			place-items: center;
			font-size: 1rem;
			background-color: var(--clr-primary-800);
			color: #fff;
			border-radius: 50%;

			&:hover,
			&:focus {
				background-color: var(--clr-primary-600);
			}
		}
	}
}

.posters-amount {
	position: relative;
	top: -2px;
	font-size: 1.1rem;
	font-weight: normal;
	color: var(--clr-primary-500);
}
