// SEARCH
.search-bar {
	display: flex;
	position: relative;
	color: var(--clr-primary-500);

	a {
		color: inherit;
	}

	input {
		border-radius: 100px;
		background-color: transparent;
		border: 1.5px solid var(--clr-primary-500);
		padding: 5px 12px 5px 30px;
		font-size: 1rem;
		color: inherit;

		@include xs-screens {
			width: 100%;
		}

		@include mobile-menu {
			display: none;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background-color: transparent;
		}

		&::placeholder {
			font-size: 0.9rem;
			color: inherit;
		}
	}

	.search-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 9px;
		font-size: 0.85rem;
		color: inherit;

		@include mobile-menu {
			display: none;
		}
	}

	.loading-search {
		display: flex;
		justify-content: center;
		font-size: 1.1rem;
	}

	.search-results {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 12px;
		background-color: var(--clr-primary-800);
		width: 150%;
		border-radius: $border-radius;

		position: absolute;
		right: 0px;
		top: 45px;

		// @include xs-screens {
		// 	width: 100vw;
		// 	right: -57vw;
		// 	border-radius: 0;
		// 	transform: translateX(-50%);
		// }

		@include mobile-menu {
			display: none;
		}

		.search-result {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1rem;
			cursor: pointer;
			line-height: 1.4;
			padding-bottom: 10px;

			// @include xs-screens {
			// 	font-size: 0.9rem;
			// }

			&:hover,
			&:focus {
				color: #fff;
				transform: translateX(5px);
			}

			&:not(:last-child) {
				border-bottom: 1px solid rgba(255, 255, 255, 0.027);
			}

			&:last-child {
				padding-bottom: 0;
			}
		}

		.media-type {
			opacity: 0.5;
			font-style: italic;
		}

		.media-title {
			line-height: 1.6;
		}

		.release-date {
			color: var(--clr-primary-500);
			opacity: 0.5;
			font-style: italic;
			font-size: 0.85rem;
			margin-right: auto;
			margin-left: 4px;
		}
	}
}

// MOBILE MENU SEARCH
.mobile-menu {
	.search-bar {
		position: absolute;
		top: 180%;
		left: -8%;

		> * {
			display: flex;
		}

		input {
			border: none;
			background-color: var(--clr-primary-900);
			border-radius: 0px;
			height: 50px;
			padding-left: 60px;
			width: 100vw;
		}

		.search-icon {
			top: 50%;
			transform: translateY(-50%);
			left: 35px;
		}

		.search-results {
			width: 100vw;
			top: 50px;
			border-radius: 0;
			padding: 12px 20px;

			.search-result {
				font-size: 0.95rem;
			}
		}
	}
}
