// SEARCH
.search-bar {
	color: var(--clr-primary-500);
	position: relative;

	a {
		color: inherit;
	}

	input {
		border-radius: 100px;
		background-color: transparent;
		border: 1.5px solid var(--clr-primary-500);
		padding: 5px 12px 5px 30px;
		font-size: 1rem;
		color: inherit;

		@include xs-screens {
			width: 100%;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background-color: transparent;
		}

		&::placeholder {
			font-size: 0.9rem;
			color: inherit;
		}
	}

	.search-icon {
		position: absolute;
		top: 9px;
		left: 9px;
		font-size: 0.85rem;
		color: inherit;
	}

	.loading-search {
		display: flex;
		justify-content: center;
		font-size: 1.1rem;
	}

	.search-results {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 12px;
		background-color: var(--clr-primary-800);
		width: 100%;
		border-radius: $border-radius;

		position: absolute;
		right: 0px;
		top: 45px;

		.search-result {
			font-size: 1rem;
			cursor: pointer;
			line-height: 1.4;
			padding-bottom: 10px;

			&:hover,
			&:focus {
				color: #fff;
				transform: translateX(5px);
			}

			&:not(:last-child) {
				border-bottom: 1px solid rgba(255, 255, 255, 0.027);
			}
		}
	}
}
