// SIMILAR MOVIES
.similar-movies {
	&--list {
		display: grid;
		gap: 8px;
		row-gap: 2px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-columns: 1fr;

		@media (max-width: 1295px) {
			display: flex;
			gap: 8px;
		}

		@include lg-screens {
			display: grid;
			grid-template-columns: repeat(auto-fit, 150px);
			gap: 30px;
		}

		@include xs-screens {
			justify-content: center;
		}
	}

	&--item {
		position: relative;
		width: 150px;
		height: max-content;
		box-shadow: $card-shadow;
		cursor: pointer;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		&:focus,
		&:active,
		&:hover {
			@include hover-scale;

			&::after {
				position: absolute;
				content: attr(data-name);
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				display: grid;
				place-items: center;
				color: rgb(255, 255, 255);
				text-align: center;
				background-color: rgba(0, 0, 0, 0.699);
				border-radius: 5px;
			}
		}
	}
}
