// SIMILAR MOVIES
.similar-movies {
	&--list {
		display: grid;
		gap: 8px;
		row-gap: 2px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-columns: 1fr;

		@media (max-width: 1295px) {
			display: flex;
			gap: 8px;
		}

		@include lg-screens {
			display: grid;
			grid-template-columns: repeat(auto-fit, 150px);
			gap: 30px;
		}

		@include xs-screens {
			justify-content: center;
		}
	}

	&--item {
		position: relative;
		width: 150px;
		height: max-content;
		box-shadow: $card-shadow;
		cursor: pointer;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.397);
			opacity: 0;
		}

		img {
			width: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		&:focus,
		&:active,
		&:hover {
			@include hover-scale;

			&::after {
				opacity: 1;
			}
		}
	}
}
